{% extends "base.html.twig" %}
{% trans_default_domain 'cost_simulator' %}
{% block view_title %}
    <h1 class="m-4">{{ 'page_title_new'|trans }}</h1>
{% endblock %}
{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('admin_cost_simulator') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"></path>
                    </svg>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ path('admin_cost_simulator') }}">{{ 'home_breadcrumbs'|trans |capitalize }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-muted">{{ 'list_cost_simulator_breadcrumbs'|trans |capitalize }}</a>
            </li>
        </ol>
    </nav>
{% endblock %}

{% block view_toolbar_button %}
    <div class="d-flex justify-content-end">
        <div class="pe-2">
            <a href="{{ path('admin_cost_simulator') }}" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i> {{ 'list.btn_return'|trans|capitalize }}
            </a>
        </div>
        <div class="pe-2">
            <a href="{{ path('admin_create_quoted_article') }}" class="d-flex align-items-center btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-plus-square me-2" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                </svg>
                <span>
                    {{ 'list.add_article'|trans|capitalize }}
                </span>
            </a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="card border-0">
        <div class="card-body">
            <h2 class="mb-10">{{ 'list.product_list'|trans |capitalize }}</h2>
            <div class="table-responsive">
                <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
                    <thead>
                    <tr class="fw-bold text-muted">
                        <th>{{ 'list.th_name'|trans|upper }}</th>
                        <th style="text-align: right">{{ 'list.th_volume'|trans|upper }}</th>
                        <th style="text-align: right">{{ 'list.th_weight'|trans|upper }}</th>
                        <th style="text-align: right">{{ 'list.th_actions'|trans|upper }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quotedArticle in quotedArticles %}
                        <tr>
                            <td>{{ quotedArticle.name }}</td>
                            <td style="text-align: right">{{ quotedArticle.volumeInM3|format_number({fraction_digit: 10}) }}
                                m³
                            </td>
                            <td style="text-align: right">{{ quotedArticle.weightInGrams|format_number }} Gr</td>
                            <td style="text-align: right">
                                <div>
                                    <a href="{{ path('admin_quoted_article_update', {'quotedArticle': quotedArticle.id}) }}">
                                        <span class="px-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                                <path fill-rule="evenodd"
                                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="{{ path('admin_quoted_article_delete', {'quotedArticle': quotedArticle.id}) }}"
                                       onclick="return confirm('{{ 'actions.confirm_delete'|trans({'%%name%%': quotedArticle.name}) }}');">
                                        <span class="px-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-trash text-danger"
                                                 viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_classes %} fixed-bottom {% endblock %}
